<div class="col-3 sidebar sidebar-offcanvas">
    <%- partial("_widget/bio") %>
</div>
<div class="col-9 main-content post-content row">
    <div class="post-header"><h1><%= page.title %></h1></div>
    <%- page.content %>
</div>