<footer class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-12">
            <p class="text-center copyright">
                <%= config.title %>
                <br>
                © <%= date(Date.now(), 'YYYY')%> <%= config.author %>
                <br>
                Powered by <a href="https://hexo.io" target="_blank" title="Hexo">Hexo</a>,
                Applied theme <a href="https://github.com/creekwax/hexo-theme-oitsi" target="_blank" title="Oitsi">Oitsi</a> 
            </p>
        </div>
    </div>
</footer>